//links
@mixin link-hover($color) {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
        @apply #{$color};
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.link-hover {
    @include link-hover(bg-gray-500);
}

.link-hover--white {
    @include link-hover(bg-white);
}
